.red{
    color: red;
    font-style: italic
}
.blue{
    color: blue;
    font-style: italic
}
.green{
    color: green;
    font-style: italic
}
.do{
    color: red;
    font-style: italic
}
#em{
    color: brown;
    font-weight: bold;
}
#sao{
    color: brown;
    font-weight: bold;
}