body{
    width: 80%;
    margin: auto;
}
table{
    border: 1px solid green;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
}
tr{
    border: 1px solid green;
    height: 20px;
}
td{
    border: 1px solid green;
    width: 100px;
}
.header{
background-color: rgba(6,148,6,0.697);
color: white;
}
.header-up{
    background-color: rgb(127,242,127);
}

