.container{
    width: 80%;
    min-height: 200px;
    margin: auto;
}
.row{
    width: 100%;
    min-height: 200px;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}
.row > .col-lef{
width: 30%;
min-height: 200px;
float: left;

}
.row > .col-right{
    width: 70%;
    min-height: 200px;
    float: left;
}
.col-lef > img {
    width: 100% ;
}

