.container{
    width: 60%;
    min-height: 400px;
    margin: auto;
    padding: 5px 10px 5px 10px;
}
.hinh{
    width: 100%;
    min-height: 300px;
    margin-bottom: 10px ;
}
.comment{
    width: 100%;
    height: auto;
}
.hinh img{
    width: 100%;
}
